:root {
  --primary-header-color: #212121;
  --second-header-color: #757575;
  --accent-header-color: #2196f3;
  --primary-body-color: #ffffff;
  --second-body-color: #212121;
  --accent-body-color: #2196f3;
  --primary-footer-color: #ffffff;
  --second-footer-color: #2f303a;
  --accent-footer-color: #2196f3;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
ul {
  margin: 0px;
  padding-left: 0px;
}
.list {
  list-style: none;
}
.flex {
  display: flex;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: #ffffff;
  width: 1600px;
}
/* ----------Conteiner--------- */
.conteiner {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
/* ----------Header--------- */
.conteiner.head {
  display: flex;
  align-items: center;
}
.header{
  border-bottom: 1px solid #ECECEC;
}
.nav-header {
  display: flex;
  align-items: center;
}
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  color: #000000;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.web {
  color: var(--accent-header-color);
}
.nav-header .item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-header-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.list.flex {
  margin-left: auto;
}
.nav-mail:not(:last-child) {
  margin-right: 50px;
}
.header-tel {
  color: var(--second-header-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-link:hover,
.header-link:focus,
.header-tel:focus,
.header-tel:hover {
  color: var(--accent-header-color);
}
.special .item{
  max-width: 270px;
}
/* ---------Body---------- */
.hero {
  background: #2f303a;
}
.hero-tittle {
  padding-top: 200px;
  padding-right: 452px;
  padding-left: 452px;
  margin-bottom: 30px;
  color: var(--primary-body-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  margin-bottom: 200px;
  margin-right: 700px;
  margin-left: 700px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-body-color);
  width: 200px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-button:hover,
.hero-button:focus {
  background: var(--accent-body-color);
  color: var(--primary-body-color);
}
.tittle-opportunity {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-body-color);
}
.text-opportunity {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.item .tittle-opportunity{
  padding-bottom: 10px;
}
.tittle-section {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em; 
  color: var(--second-body-color);
}
.section.we-do{
  padding-top: 0px;
}
.we-do .item:not(:last-child){
  margin-right: 30px;
}
.special .item:not(:last-child){
  margin-right: 30px;
}
/* ---------Section Наша Команда---------- */
.hero-team {
  background: #f5f4fa;
}

.tittle-team {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-body-color);
}
.tittle-team-worker {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-body-color);
}
.list-worker {
  width: 270px;
  background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.list-worker:not(:last-child) {
margin-right: 30px;
}
.tittle-worker-text {
  /* margin-top: -4px; */
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.list-worker img{
  display: block;
}
/* --------footer---------- */
.basement {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--second-footer-color);
}
.logo-footer {
  display: block;
  padding-bottom: 28px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-footer-color);
  text-decoration: none;
}
.list-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-footer-color);
  text-decoration: none;
}
.list-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
/* .basement li:not(:last-child) {
  padding-bottom: 12px;
} */
.list-tel:hover,
.list-tel:focus {
  color: var(--accent-footer-color);
}
.list-address:hover,
.list-address:focus {
  color: var(--accent-footer-color);
}
/* ---------Body Portfolio---------- */
.portfolio-btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-body-color);
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: 0px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background: #2196f3;
  color: var(--primary-body-color);
}
.portfolio-tittle {
  padding-top: 20px;
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-body-color);
}
.portfolio-text {
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
.list-buttons{
  margin-left: 312px;
  margin-bottom: 50px;
}
.cards {
  flex-wrap: wrap;
}
.cards li{
  width: 370px;
  background-color: var(--primary-body-color);
  margin-right: 30px;
  padding-bottom: 30px;
}
.cards li:nth-child(3n){
  margin-right: 0px;
}
.cards-img.pading{
  padding-bottom: 0px;
}
.cards-img img{
  display: block;
}
.cards-border{
border-right:1px solid #EEEEEE;
border-bottom: 1px solid #EEEEEE;
border-left: 1px solid #EEEEEE;
}
.list-portfolio-btn:not(:last-child){
  margin-right: 8px;
}
